.polls-dashboard {
  border: 1px solid rgb(161, 161, 161);
  border-top: none;
  max-width: 550px;
  margin: 0 auto;
  background-color: white;
  margin-top: 30px;
  border-radius: 5px;
}

.polls-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.activeBtn,
.disabledBtn {
  height: 55px;
  outline: none;
  border-top: 1px solid rgb(161, 161, 161);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-left: none;
  border-right: none;
}

.activeBtn {
  background-color: white;
  border-bottom: none;
  border-left: 1px solid rgb(223, 223, 223);
  border-right: 1px solid rgb(223, 223, 223);
}

.disabledBtn {
  background-color: rgb(231, 231, 231);
  border-bottom: 1px solid rgb(223, 223, 223);
}
